
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout2</title>
       ViewBag.Title
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
