
<h2>Index</h2>
<a href="/Addition/details">Get Details (Action Method with view result)</a><br />
<a href="/Addition/gettotal">Get Total (Non-Action method) </a><br />
<a href="/Addition/getservertime">Get Servertime (non-view result)</a><br />
