<table>
    <h1>Student Information</h1>
    <hr />
    <a href="/RazorStudentInfo/Details">Details</a>
    <br />
    <a href="/RazorStudentInfo/Courses">Courses</a>
    <br />
    <a href="/RazorStudentInfo/CoursesList">CoursesList</a>
    <br />
</table>